<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <link rel="stylesheet" href="./cancel.css">
    <link rel="stylesheet" href="./root.css">
    
    <title>Payment Cancel</title>
</head>
<body>
    <div class="cancel-container">
        <div class="content-box">
            <h1> Something went wrong! </h1>
            <p> We apologize for the inconvenience, but an error occurred while processing your order request.</p>
            <p> For Any Support Email: josevitordesousa123@gmail.com </p>
            <i class='bx bx-x-circle' id="order-canceled"></i>
            <a href="http://localhost:3000/" class="btn">Back To HomePage</a>
        </div>
    </div>
</body>
</html>