@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}
.sc-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(276deg, #68e214, #fff594, #5ad10d);
  background-size: 180% 180%;
  animation: gradient-animation 21s ease infinite;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.sc-container h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  color: #65b741;
}
.sc-container .content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: #fafafa;
  border-radius: 1.4rem;
  width: 600px;
}
.sc-container .content-box i {
    font-size: 6rem;
    margin: 2rem;
    color: #38d82a;
}
.btn {
  position: relative;
  font-size: 1.7rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: #fafafa;
  background: #65b741;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.sc-container .content-box .accordion {
  background: #f2f2f6;
  width: 100%;
  height: auto;
  margin-top: 2rem;
  padding: 1.4rem;
}
.sc-container .content-box .accordion .accordion-header {
  cursor: pointer;
  background: #f9f9f9;
  padding: 1.2rem;
  font-size: 1.8rem;
  border-radius: 1rem;
}
.sc-container .content-box .accordion .accordion-header span {
  opacity: .7;
  font-size: 1.4rem;
}
.sc-container .content-box .accordion .accordion-content {
  padding: 1.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  border-left: 2px solid #38d82a;
}